<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Powerfulmind</title>
    <link rel="icon" type="image/x-icon" href="../images/POWER_LOGO.png">




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../css/estilos.css">   
    <link rel="stylesheet" href="../css/usuario.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <header class="fixed-top">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-success p-1" id="navegador">
        <div class="container-fluid">
          <a class="navbar-brand  me-4" href="./home">  <img class="logo" src="../images/POWER_LOGO.png" alt="Logo"> </a>
          <h1 class="d-none d-lg-block text-white titulo">Powerfulmind</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse m-lg-3 " id="menu">
            <ul class=" navegador navbar-nav me-auto " id="navegado">
              
              <!-- <li class="nav-item">
                <a class="nav-link active bg-dark text-white" aria-current="page" href="index.html">Inicio</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link " href="loginUsuario.html">Paciente</a>
              </li> -->
             
            </ul>
            <form class="d-flex">
                <a class=" login  btn btn-secondary m-2" href="./login" role="button">Login</a>
                <a class=" registrarse btn btn-light  m-2" href="./registrarse" role="button">Registrarse</a>

            </form>
          </div>
        </div>
      </nav>
    </header>
  
    <div class="ajuste"></div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active " data-bs-interval="4000">
          <img src="../images/mujer3.png" class="d-block w-100" alt="...">
          <div class="pie carousel-caption d-none d-md-block text-white">
              <h1>Powerfulmind</h1>
              <p>Proximos Eventos</p>
              <button class="bt btn-success">Ir a ver eventos</button>
            </div>
        </div>
        
        <div class="carousel-item" data-bs-interval="4000"> 
          <img src="../images/banner1.png" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item" data-bs-interval="4000">
          <img src="../images/mujer2.png" class="d-block w-100" alt="...">
        </div>
        
        <div class="carousel-item" data-bs-interval="4000">
          <img src="../images/banner3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

      <footer class="bg-dark text-black text-center text-lg-start ">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            
              <a href="./home" class="logo">  <img class="logo" src="../images/POWER_LOGO.png" alt="Logo"> </a>
              <p>
               
              </p>
            </div>
            <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div id="box2" class="box">
                    <h5>CONTACTO</h5>
                    <p>Telefono:  99-94-56-88-99</p>
                    <p>Email: powerfurminds@gmail.com</p>
                </div>
            </div>
            <!--Grid column-->
            
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div  id="box1" class="box">
                    <h5>SIGUENOS</h5>
                     
                    <p>Carrillo Cruz Alondra Michelle </p>
                    <p>Dalia Asucena Poot Hoil </p>
                    <p>Puc Barrera Angel Eduardo </p>
                </div>
                    
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
              
                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                      ><i class="fab fa-twitter"></i
                    ></a>
              
                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                      ><i class="fab fa-google"></i
                    ></a>
              
                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                      ><i class="fab fa-instagram"></i
                    ></a>
              
                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
            
                  </section>
               </div> 
    
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(12, 12, 12, 0.2);">
          © 2022 Copyright
        </div>
        <!-- Copyright -->
      </footer>

      <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

</body>
</html>